name: Publish Container Image

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test-local-container:
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: docker build -t middleman .

      - run: docker network create middleman-net
        timeout-minutes: 1

      - run: docker run --name cdp --network middleman-net -p 9222:9222 -d ghcr.io/remotebrowser/chromium-live
        timeout-minutes: 3

      - name: Wait for Chrome CDP to be ready
        run: while ! curl -s 'http://127.0.0.1:9222/json/version' | grep -q 'Chrome'; do sleep 1; done
        timeout-minutes: 2

      - run: docker run -p 3000:3000 --name middleman --network middleman-net --env CDP_URL=http://$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.Gateway}}{{end}}' cdp):9222 -d middleman
        timeout-minutes: 3

      - name: Run the health check validation
        run: while ! curl -s 'http://localhost:3000/health' | grep 'OK'; do sleep 1; done
        timeout-minutes: 3

      - name: Get the container logs
        run: docker logs --details middleman
        if: always()

  build-and-publish:
    runs-on: ubuntu-22.04
    needs: test-local-container
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
